# 🍕 0600Boston - Configuración de Base de Datos y Multimedia (Plantilla)

# 1. Turso Database (Base de Datos distribuida para Clientes y Productos)
TURSO_DATABASE_URL=libsql://tu-base-de-datos.turso.io
TURSO_AUTH_TOKEN=tu_token_de_turso

# 2. Cloudinary (Almacenamiento de fotos en alta definición para el Menú / Admin)
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret

# 3. WhatsApp Pizzería
NEXT_PUBLIC_WHATSAPP_NUMERO=5492942661000
NEXT_PUBLIC_WHATSAPP_LOCAL=02942661000

# 4. Notificaciones Web Push (VAPID)
NEXT_PUBLIC_VAPID_PUBLIC_KEY=tu_vapid_public_key
VAPID_PRIVATE_KEY=tu_vapid_private_key
VAPID_SUBJECT=mailto:soporte@0600boston.com
